 /* custom sidebar dan navbar */
body {
    padding-top: 56px; /* Adjust based on navbar height */
}
.sidebar {
    height: 100vh;
    background-color: #000;
    color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    border-right: 1px solid #fff;
}
.sidebar-title {
    /* font-size: 1.5rem;
    padding: 1rem; */
    border-bottom: 1px solid #fff;
}
.sidebar-item {
    padding: 1rem;
}
.sidebar-item a {
    color: #fff;
    text-decoration: none;
}
.sidebar-item a:hover {
    text-decoration: underline;
}
.navbar-custom {
    background-color: #000;
    color: #fff;
    text-align: center;
    z-index: 1000;
    width: calc(100% - 250px);
    left: 250px;
    position: fixed;
    top: 0;
}
.navbar-custom .navbar-brand {
    margin: 0 auto;
}
.navbar-custom .navbar-nav {
    justify-content: center;
}
.navbar-custom .nav-link {
    color: #fff;
}
.navbar-custom .nav-link:hover {
    text-decoration: underline;
}
.content {
    margin-left: 250px;
    padding: 1rem;
}

 /* custom isi konten di home */
.post-card {
    background-color: #000;
    color: #fff;
    border: 1px solid #333;
    border-radius: 10px;
}

.recommendations {
    background-color: #000;
    color: #fff;
    border: none;
    position: fixed;
    top: 90px;
}

.card-header {
    background-color: #000;
    border-bottom: 1px solid #333;
}

.card-body img {
    border-radius: 10px;
}


.recommendations .card-body {
    padding: 1rem;
}

.recommendations .list-unstyled {
    padding: 0;
    margin: 0;
}

.recommendations .list-unstyled li {
    display: flex;
    align-items: center;
}

.recommendations .list-unstyled li img {
    width: 50px;
    height: 50px;
}

.recommendations .btn {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.recommendations .btn:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.img-container {
    overflow: hidden;
    border-radius: 10px;
    max-height: 500px; /* Maximum height for the image container */
    width: 100%;
}

.custom-post-img {
    width: 100%;
    height: auto;
    object-fit: contain; /* Ensure the image fits within the container without being cropped */
    border-radius: 10px;
}
